.github/
.vscode/
.vscode-test/
out/
src/
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.env
.env.example
build/
.prettierrc
.vscodeignore
**/*.vsix
**/*.log
node_modules/
