body {
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  font-weight: var(--vscode-editor-font-weight);
}

body.vscode-light .log-text {
  color: black;
}

body.vscode-dark .log-text {
  color: white;
}
